h1 { 
    text-align: center;
    border-top: 10px solid blue;
    border-left: 10px solid green;
    border-right: 20px solid red;
    border-bottom: 10px solid yellow;
}
h2 {
    font-size: small;
    color: red;
    text-align: center;
}
h3 {
    text-align:center;
    font-size: medium;
    color: rebeccapurple;
}
form {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border: 200px;
    border-radius: 20px;
    width: 600px;
    margin: 50px auto;
    
}

button {
    width: 100%;
    height: 50px;
    font-size: 20px;
}